# data files
data/
TMP/
raw_results/
data.zip
raw_results.zip

# hidden files
.DS_store

# visual code studio
.vscode/

# docstrings
docs/generated/
docs/auto_examples/
docs/modules/

# byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
